.navbars {
  background-color: #1767DD;
  height: 60px;
}

.logo {
  height: 50px;
}

.carousel {
  height: 509px;
}

.thumbnail {
  position: relative;
  border: 0 none;
  box-shadow: none;
}

.envelope-pic {
  background-color: #F7931D;
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: 50px;
}

.sticky-button-position {
  top: 35%;
  right: 0;
  left: 0;

}

.caption, .gradient-text {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 30%;
  text-align: center;
  font-family: 'Roboto';
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
}

.gradient-background {
  width: 100%;
  padding-bottom: 50px;
}

.page-item {
  padding: 50px;
}

.page-item-text {
  padding: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
}

.first-word {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  text-align: center;
}

.title {
  font-family: 'Roboto';
  font-size: 28px;
  color: #283647;
  text-align: center;
  padding-bottom: 50px;
}

.button {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, #F36819, #F7931D);
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  letter-spacing: 2px;
}

.picture-grid {
  width: 705px;
  height: 350px;
}

.title2 {
  font-family: 'Roboto';
  font-size: 28px;
  color: #F36819;
}

.subtitle {
  font-family: 'Roboto';
  font-size: 14px;
  color: #F7931D;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 20px;

}

.row-spacing {
  padding: 30px;
}

.text-column {
  padding: 30px;
}

.carousel-title {
  text-align: left;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bold;
}

.carousel-text {
  top: 45%;
  left: 15%;
  right: 45%;
  overflow: auto;
}

.carousel-button {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, #F36819, #F7931D);
  color: white;
  font-family: 'Roboto';
  font-size: 16px;
  letter-spacing: 2px;
  top: 45%;
  left: 10%;
  right: 30%;
}

.spacing {
  padding-top: 30px;
}

.button-position {
  padding: 5%;
}

.percentage-styling {
  font-family: 'Roboto';
  font-size: 55px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
}

.fact-styling {
  font-family: 'Roboto';
  font-size: 20px;
  color: #F36819;
  text-align: center;

}
.testimonial-styling {
  font-family: 'Roboto';
  font-size: 20px;
  color: #283647;

}