.navbars {
  background-color: #1767DD;
  height: 60px;
}

.logo {
  height: 50px;
}

.carousel {
  height: 509px;
}

.thumbnail {
  position: relative;
  border: 0 none;
  box-shadow: none;
}

.envelope-pic {
  background-color: #F7931D;
  border-radius: 5px 0 0 5px;
  height: 40px;
  width: 50px;
  top: 35%;
  float: right;
  left: 1px;
  right: 0px;

}

.caption, .gradient-text {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 35%;
  text-align: center;
  font-family: 'Roboto';
  color: white;
}

.gradient-background {
  width: 100%;
  padding-bottom: 50px;
}

.page-item {
  padding: 50px;
}

.page-item-text {
  padding: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
}

.first-word {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
  color: #F36819;
  text-align: center;
}

.title {
  font-family: 'Roboto';
  font-size: 28px;
  color: #283647;
  text-align: center;
}

.button {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 5px;
  background: linear-gradient(to right, #F36819, #F7931D);
}

.picture-grid {
  width: 705px;
  height: 350px;
}

.title2 {
  font-family: 'Roboto';
  font-size: 28px;
  color: #F36819;
}

.subtitle {
  font-family: 'Roboto';
  font-size: 14px;
  color: #F7931D;
}

.paragraph {
  font-family: 'Roboto';
  font-size: 20px;

}

.row {
  padding: 30px;
}

.text-column {
  padding: 30px;
}

.carousel-title {
  text-align: left;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bold;
}

.carousel-text {
  top: 45%;
  left: 15%;
  right: 45%;
  overflow: auto;
}

.carousel-button {
  width: 215px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 5px;
  background: linear-gradient(to right, #F36819, #F7931D);
  top: 45%;
  left: 10%;
  right: 30%;
}